<h1>Obiective</h1>
<li>Realizarea stadiului actual al cunoașterii prin analiza critică a literaturii de specialitate și analiza comparată a tehnologiilor și uneltelor utilizate pentru dezvoltarea aplicațiilor mobile</li>
<li>Identificarea rolurilor cheie în cadrul echipelor de dezvoltare mobile și clasificarea competențelor necesare</li>
<li>Formalizarea etapelor ciclului de dezvoltare prin definirea de metrici specifici fiecărei faze care să permită măsurarea performanței</li>
<li>Crearea unei metodologii de măsurare a calității aplicațiilor mobile cu privire la satisfacerea nevoilor utilizatorilor și realizarea de indicatori pe care echipele de dezvoltare să le urmărească în cadrul ciclului de dezvoltare</li>
<li>Dezvoltarea unui prototip de aplicație pentru dispozitive mobile folosind abordări agile și tehnologii inovatoare pentru validarea în practică a soluțiilor propuse</li>
